# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [238]:
# Your code goes here
import numpy as np
import pandas as pd
import re

%load_ext autoreload
%autoreload 2 


pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 30)


car_insurance_df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
car_insurance_df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
car_insurance_df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [192]:
column_list = car_insurance_df1.columns.tolist()
column_list

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [195]:
new_order2 = ['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']
car_insurance_df2 = car_insurance_df2[new_order2]

In [197]:
new_order3 = ['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']
car_insurance_df3 = car_insurance_df3[new_order3]

In [199]:
car_insurance_df1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.00,1000.00,1/0/00,Personal Auto,Four-Door Car,2.70
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.00,94.00,1/0/00,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.00,108.00,1/0/00,Personal Auto,Two-Door Car,566.47
3,WW63253,California,M,Bachelor,764586.18%,0.00,106.00,1/0/00,Corporate Auto,SUV,529.88
4,GA49547,Washington,M,High School or Below,536307.65%,36357.00,68.00,1/0/00,Personal Auto,Four-Door Car,17.27

In [201]:
car_insurance_df2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.60
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.20
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.60
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,Luxury Car,1027.20
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.20

In [203]:
car_insurance_df3.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,SA25987,Washington,M,High School or Below,3479.14,0,104,0,Personal Auto,Two-Door Car,499.20
1,TB86706,Arizona,M,Master,2502.64,0,66,0,Personal Auto,Two-Door Car,3.47
2,ZL73902,Nevada,F,Bachelor,3265.16,25820,82,0,Personal Auto,Four-Door Car,393.60
3,KX23516,California,F,High School or Below,4455.84,0,121,0,Personal Auto,SUV,699.62
4,FN77294,California,M,High School or Below,7704.96,30366,101,2,Personal Auto,SUV,484.80

In [206]:
import Henning_cleaning_functions as cf

In [208]:
column_replacements = {"st":"state"}
whole_replacements = {"Male":"M",("female", "Femal"):"F","AZ":"Arizona","Cali":"California","WA":"Washington",("Sports Car", "Luxury SUV", "Luxury Car"):"Luxury", "Bachelors":"Bachelor"}
substring_replacements = {'%': ''}
char_columns = ['number_of_open_complaints']
recast_columns = ["customer_lifetime_value","income","monthly_premium_auto","total_claim_amount","number_of_open_complaints"]
mean_columns = ["customer_lifetime_value"]
gender_columns = ['gender']
dupe_columns = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'state', 'policy_type', 'gender']

In [210]:
cleaned_df1 = cf.clean_dataset(car_insurance_df1, column_replacements, whole_replacements, substring_replacements, char_columns, recast_columns, mean_columns, gender_columns, dupe_columns)

In [212]:
cleaned_df1.head(50)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,793690,0,1000,0,Personal Auto,Four-Door Car,3
1,QZ44356,Arizona,F,Bachelor,697954,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,530
4,GA49547,Washington,M,High School or Below,536308,36357,68,0,Personal Auto,Four-Door Car,17
5,OC83172,Oregon,F,Bachelor,825630,62902,69,0,Personal Auto,Two-Door Car,159
6,XZ87318,Oregon,F,College,538090,55350,67,0,Corporate Auto,Four-Door Car,322
7,CF85061,Arizona,M,Master,721610,0,101,0,Corporate Auto,Four-Door Car,363
8,DY87989,Oregon,M,Bachelor,2412750,14072,71,0,Corporate Auto,Four-Door Car,511
9,BQ94931,Oregon,F,College,738818,28812,93,0,Special Auto,Four-Door Car,426
10,SX51350,California,M,College,473899,0,67,0,Personal Auto,Four-Door Car,482
11,VQ65197,California,F,College,819720,0,110,0,Personal Auto,SUV,528
12,DP39365,California,F,Master,879880,77026,110,2,Corporate Auto,Four-Door Car,472
13,SJ95423,Arizona,F,High School or Below,881902,99845,110,1,Corporate Auto,SUV,528
14,IL66569,California,M,College,538443,83689,70,2,Corporate Auto,Four-Door Car,307
15,BW63560,Oregon,M,Bachelor,746314,24599,64,1,Corporate Auto,Four-Door Car,43
16,FV94802,Nevada,M,High School or Below,256687,25049,67,0,Personal Auto,Two-Door Car,454
17,OE15005,California,M,College,394524,28855,101,0,Personal Auto,SUV,647
18,WC83389,Oregon,M,College,571033,51148,72,0,Personal Auto,Four-Door Car,309
19,FL50705,California,M,High School or Below,816262,66140,101,0,Corporate Auto,Four-Door Car,485
20,ZK25313,Oregon,M,High School or Below,287205,57749,74,0,Personal Auto,Two-Door Car,355
21,QK46697,Washington,M,Bachelor,617711,61040,79,1,Personal Auto,Two-Door Car,20
22,YH23384,Arizona,M,Bachelor,2412750,14072,71,0,Personal Auto,Four-Door Car,511
23,TZ98966,Nevada,F,Bachelor,245019,0,73,3,Corporate Auto,Four-Door Car,554
24,HM55802,California,M,Bachelor,239211,17870,61,0,Corporate Auto,Four-Door Car,439
25,FS42516,Oregon,M,College,580207,97541,72,0,Personal Auto,Four-Door Car,389
26,US89481,California,M,Bachelor,394637,0,111,0,Personal Auto,Four-Door Car,799
27,HS14476,Washington,M,College,916206,29723,80,0,Personal Auto,Four-Door Car,21
28,GE62437,Arizona,F,College,1290256,86584,111,2,Personal Auto,Four-Door Car,533
29,EJ77678,Oregon,F,Master,323536,75690,80,1,Personal Auto,Four-Door Car,384
30,SV85652,Arizona,F,College,245458,23158,63,1,Personal Auto,Four-Door Car,322
31,UL64533,Nevada,F,High School or Below,1897546,65999,237,0,Corporate Auto,Luxury,616
32,PF41800,California,F,Bachelor,471532,0,65,0,Personal Auto,Four-Door Car,308
33,HD95276,Washington,F,College,473787,0,130,0,Personal Auto,SUV,24
34,SK67821,Oregon,M,Bachelor,493292,37260,62,0,Corporate Auto,Four-Door Car,15
35,YV55495,Arizona,M,High School or Below,574423,68987,71,0,Personal Auto,Four-Door Car,204
36,KY38074,California,M,Bachelor,1389174,42305,117,0,Personal Auto,Four-Door Car,562
37,DM79012,Oregon,F,Master,738098,65706,91,0,Personal Auto,Four-Door Car,437
38,CM61827,Oregon,F,Bachelor,309003,0,90,0,Personal Auto,Two-Door Car,648
39,WC35801,Arizona,M,High School or Below,252163,53243,66,2,Personal Auto,Four-Door Car,157
40,QG25316,Nevada,F,High School or Below,265206,0,70,1,Corporate Auto,Two-Door Car,484
41,MB98372,Oregon,M,College,277104,50071,71,0,Corporate Auto,Two-Door Car,19
42,IL19217,California,F,Bachelor,393901,60021,99,0,Personal Auto,Four-Door Car,883
43,SR38658,Arizona,M,High School or Below,1223188,43244,103,0,Personal Auto,Luxury,494
44,YD87931,Washington,M,Doctor,495166,46896,35354,1,Personal Auto,Four-Door Car,32
45,HG65722,Oregon,M,Doctor,1281910,10105,172,3,Personal Auto,SUV,1
46,BU27331,Arizona,M,Bachelor,446851,0,73,3,Personal Auto,Four-Door Car,579
47,XM45289,Oregon,M,High School or Below,551434,23218,71,0,Personal Auto,Two-Door Car,448
48,KP34198,California,F,Bachelor,334388,0,92,0,Corporate Auto,Four-Door Car,530
49,SH90947,Arizona,F,High School or Below,229448,0,62,0,Personal Auto,Four-Door Car,313

In [214]:
cleaned_df1.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       Int64
income                        Int64
monthly_premium_auto          Int64
number_of_open_complaints     Int64
policy_type                  object
vehicle_class                object
total_claim_amount            Int64
dtype: object

In [216]:
cleaned_df2 = cf.clean_dataset(car_insurance_df2, column_replacements, whole_replacements, substring_replacements, char_columns, recast_columns, mean_columns, gender_columns, dupe_columns)

In [218]:
cleaned_df3 = cf.clean_dataset(car_insurance_df3, column_replacements, whole_replacements, substring_replacements, char_columns, recast_columns, mean_columns, gender_columns, dupe_columns)

In [220]:
cleaned_df2.head(50)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,GS98873,Arizona,F,Bachelor,323912,16061,88,0,Personal Auto,Four-Door Car,634
1,CW49887,California,F,Master,462680,79487,114,0,Special Auto,SUV,547
2,MY31220,California,F,College,899704,54230,112,0,Personal Auto,Two-Door Car,538
3,UH35128,Oregon,F,College,2580706,71210,214,1,Personal Auto,Luxury,1027
4,WH52799,Arizona,F,College,380812,94903,94,0,Corporate Auto,Two-Door Car,451
5,WL99637,Arizona,M,Bachelor,761414,27293,96,0,Personal Auto,Two-Door Car,469
6,UC84059,California,F,Master,689846,70950,171,0,Personal Auto,Luxury,566
7,HW62747,Oregon,M,College,229838,0,63,0,Corporate Auto,Four-Door Car,302
8,BH11344,Oregon,F,Doctor,280670,37009,71,0,Corporate Auto,Two-Door Car,146
9,TX28465,Nevada,M,College,520612,52629,65,0,Personal Auto,Four-Door Car,137
10,OK56965,California,F,Bachelor,4570865,31264,198,1,Personal Auto,Luxury,826
11,WT22392,Oregon,F,College,800735,65473,67,0,Personal Auto,Four-Door Car,278
12,PH85036,Washington,F,Bachelor,548255,79325,68,0,Corporate Auto,Four-Door Car,251
13,KC71643,Oregon,M,High School or Below,246324,99144,61,0,Corporate Auto,Four-Door Car,293
14,NR32615,California,M,College,549894,22520,73,0,Corporate Auto,Four-Door Car,350
15,GS69842,Arizona,F,Bachelor,524383,36615,65,0,Special Auto,Four-Door Car,265
16,WT71621,Washington,F,Bachelor,328046,63297,82,0,Personal Auto,Four-Door Car,252
17,KD23847,Arizona,F,High School or Below,488654,76374,61,0,Personal Auto,Four-Door Car,293
18,PE59368,Washington,F,Bachelor,512348,72096,6464,0,Personal Auto,Two-Door Car,252
19,NK91488,Nevada,M,Master,547956,56005,68,1,Personal Auto,Four-Door Car,326
20,CR33417,Washington,F,Master,476216,36529,118,0,Personal Auto,SUV,255
21,WP73172,Oregon,F,Bachelor,828768,81367,103,0,Special Auto,SUV,416
22,PS30217,California,F,Bachelor,988666,44817,83,0,Personal Auto,Four-Door Car,527
23,EL62967,Oregon,F,High School or Below,271292,58508,69,0,Personal Auto,Two-Door Car,58
24,MU23938,Oregon,M,Bachelor,1047768,45259,138,0,Personal Auto,SUV,272
25,VC83809,California,M,Doctor,343613,30817,88,0,Personal Auto,Four-Door Car,92
26,VL34577,Oregon,F,High School or Below,259619,0,72,0,Personal Auto,Two-Door Car,346
27,QE12539,California,M,Doctor,1273195,40870,105,0,Personal Auto,SUV,504
28,YO15246,Nevada,M,High School or Below,349415,35001,96,3,Personal Auto,Four-Door Car,461
29,WF73839,Arizona,F,College,759791,49937,64,0,Personal Auto,Two-Door Car,303
30,TJ11671,Oregon,F,Bachelor,401521,0,109,0,Personal Auto,Four-Door Car,523
31,SV34223,California,F,College,2047711,58317,73,0,Personal Auto,Four-Door Car,350
32,XD19546,California,F,High School or Below,816069,0,109,0,Personal Auto,SUV,523
33,OY95739,Nevada,M,High School or Below,1229869,17101,113,0,Corporate Auto,SUV,542
34,SW57539,California,F,College,871492,0,118,0,Corporate Auto,SUV,566
35,IA62027,Arizona,F,Bachelor,485353,0,65,0,Personal Auto,Four-Door Car,468
36,FZ20933,Oregon,M,High School or Below,488095,24398,63,1,Personal Auto,Four-Door Car,302
37,WR62597,Oregon,M,College,231138,24641,61,0,Corporate Auto,Four-Door Car,295
38,KU61611,Arizona,M,High School or Below,432710,69040,108,0,Corporate Auto,Luxury,518
39,XW98867,Oregon,M,High School or Below,1229869,17101,113,0,Personal Auto,SUV,542
40,PP80817,California,F,High School or Below,832353,59886,104,0,Personal Auto,Luxury,72
41,DT77901,Oregon,F,Bachelor,1017972,14290,271,0,Personal Auto,Luxury,1301
42,DX34647,California,F,College,776127,43137,96,0,Personal Auto,Two-Door Car,461
43,OD56551,Oregon,M,College,523989,27978,69,1,Personal Auto,Four-Door Car,448
44,OO63074,California,F,Bachelor,451791,25261,118,0,Personal Auto,SUV,566
45,EH24828,Nevada,M,College,238977,58652,64,5,Personal Auto,Four-Door Car,307
46,CX99919,Nevada,F,College,413063,28321,111,0,Corporate Auto,SUV,537
47,DG80424,Washington,F,College,269157,77411,67,0,Personal Auto,Four-Door Car,258
48,NU32697,Oregon,M,College,522777,0,72,0,Corporate Auto,Four-Door Car,518
49,PU98976,California,F,Bachelor,618735,0,88,0,Personal Auto,Four-Door Car,634

In [222]:
cleaned_df3.head(50)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,SA25987,Washington,M,High School or Below,3479,0,104,0,Personal Auto,Two-Door Car,499
1,TB86706,Arizona,M,Master,2503,0,66,0,Personal Auto,Two-Door Car,3
2,ZL73902,Nevada,F,Bachelor,3265,25820,82,0,Personal Auto,Four-Door Car,394
3,KX23516,California,F,High School or Below,4456,0,121,0,Personal Auto,SUV,700
4,FN77294,California,M,High School or Below,7705,30366,101,2,Personal Auto,SUV,485
5,VI78454,Arizona,M,College,2751,51789,70,0,Personal Auto,Four-Door Car,336
6,FP59138,Oregon,M,Master,13024,0,125,0,Personal Auto,SUV,900
7,XN62489,Oregon,M,Bachelor,2539,18608,71,0,Corporate Auto,Four-Door Car,341
8,GP66031,California,F,College,2586,83758,64,0,Corporate Auto,Two-Door Car,107
9,IX68587,Nevada,F,Master,5097,22886,65,0,Personal Auto,Four-Door Car,312
10,HX17929,California,F,High School or Below,10083,11828,90,0,Personal Auto,Four-Door Car,571
11,IC59236,California,F,College,4943,44762,62,0,Corporate Auto,Four-Door Car,115
12,VG31922,Nevada,F,Bachelor,6516,0,175,0,Personal Auto,SUV,1221
13,HP87787,Arizona,M,Bachelor,8838,82664,114,3,Corporate Auto,SUV,133
14,AL78075,Oregon,M,High School or Below,3810,0,108,0,Personal Auto,Four-Door Car,778
15,WA97671,Arizona,M,Bachelor,6334,0,63,0,Personal Auto,Four-Door Car,302
16,QZ77637,Washington,F,College,11665,84978,72,1,Corporate Auto,Four-Door Car,167
17,FP11777,California,M,Doctor,10972,24164,137,0,Corporate Auto,Luxury,658
18,ID45268,California,F,College,6007,0,80,0,Personal Auto,Four-Door Car,489
19,AX86150,Washington,M,High School or Below,2657,62777,67,0,Personal Auto,Two-Door Car,101
20,MW57614,Arizona,F,Bachelor,2359,19864,63,0,Personal Auto,Four-Door Car,352
21,TJ30081,Arizona,M,Bachelor,12037,44428,104,0,Personal Auto,SUV,499
22,FW44940,California,F,Bachelor,8467,21139,113,0,Personal Auto,Luxury,657
23,CS55808,California,M,College,9393,0,88,0,Personal Auto,Four-Door Car,851
24,WZ61178,California,F,Bachelor,5227,11896,69,0,Personal Auto,Two-Door Car,476
25,IV55977,Oregon,M,Bachelor,2694,0,73,1,Personal Auto,Two-Door Car,350
26,YC67208,California,M,High School or Below,2227,27972,61,0,Personal Auto,Four-Door Car,293
27,LZ89773,California,M,Doctor,2327,0,62,0,Personal Auto,Four-Door Car,625
28,IP52990,Oregon,F,High School or Below,16794,38399,106,0,Personal Auto,SUV,369
29,VF73104,Arizona,F,High School or Below,5017,20868,63,0,Personal Auto,Four-Door Car,135
30,OC80343,Oregon,M,Bachelor,7758,49682,101,0,Personal Auto,SUV,199
31,EL89222,California,F,Bachelor,8609,79090,107,0,Personal Auto,SUV,289
32,QB14114,Oregon,F,High School or Below,5275,81850,132,0,Personal Auto,Luxury,430
33,HM41195,Arizona,M,High School or Below,5746,22906,76,0,Personal Auto,Four-Door Car,520
34,JT41591,Washington,M,College,2706,0,83,1,Personal Auto,Four-Door Car,398
35,HE15857,Washington,M,Bachelor,6186,37138,83,2,Personal Auto,Two-Door Car,417
36,KI64666,Nevada,F,Bachelor,22445,0,71,0,Personal Auto,Four-Door Car,511
37,JC33752,Oregon,F,College,6278,21024,82,1,Personal Auto,Two-Door Car,450
38,JA25453,California,M,High School or Below,7216,0,103,0,Personal Auto,Four-Door Car,742
39,AJ69778,Oregon,F,High School or Below,6514,77135,84,3,Personal Auto,Four-Door Car,98
40,FQ83162,Washington,M,College,34709,0,109,0,Personal Auto,Luxury,719
41,EY89842,Arizona,M,Bachelor,4216,0,114,0,Corporate Auto,SUV,821
42,TG69238,Oregon,F,Bachelor,13158,72845,108,0,Personal Auto,SUV,463
43,UI63465,Oregon,F,High School or Below,2918,51622,74,0,Corporate Auto,Four-Door Car,355
44,WX33904,Arizona,M,Bachelor,6356,0,61,0,Special Auto,Two-Door Car,293
45,HA20933,Oregon,F,Bachelor,13270,15616,114,1,Personal Auto,SUV,547
46,BU16704,Oregon,F,High School or Below,5880,0,82,0,Personal Auto,Four-Door Car,590
47,JV68002,Washington,M,College,5927,23091,96,5,Corporate Auto,Four-Door Car,461
48,PM78410,Oregon,F,Bachelor,4121,0,67,3,Personal Auto,Two-Door Car,482
49,PU92298,Arizona,F,Bachelor,7956,22699,74,4,Personal Auto,Four-Door Car,355

In [224]:
cleaned_df3.size

75075

In [226]:
car_insurance_df3.size

77770

In [228]:
#concatenate:
car_insurance_concat = pd.concat([cleaned_df1,cleaned_df2,cleaned_df3], axis = 0, ignore_index=True)
car_insurance_concat

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,793690,0,1000,0,Personal Auto,Four-Door Car,3
1,QZ44356,Arizona,F,Bachelor,697954,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,530
4,GA49547,Washington,M,High School or Below,536308,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
8874,LA72316,California,M,Bachelor,23406,71941,73,0,Personal Auto,Four-Door Car,198
8875,PK87824,California,F,College,3097,21604,79,0,Corporate Auto,Four-Door Car,379
8876,TD14365,California,M,Bachelor,8164,0,85,3,Corporate Auto,Four-Door Car,791
8877,UP19263,California,M,College,7524,21941,96,0,Personal Auto,Four-Door Car,691
8878,Y167826,California,M,College,2612,0,77,0,Corporate Auto,Two-Door Car,370

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [296]:
# Your code goes here
ci_marketing = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
ci_marketing.head(20)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.22,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.00,52,0.00,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.53,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.00,26,0.00,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.00,31,0.00,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.44,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.00,3,0.00,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.07,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.15,31,0.38,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,A,1
5,5,HO81102,California,4745.18,No,Basic,High School or Below,2011-02-14,Employed,M,50549,Suburban,Divorced,61,2.00,73,0.00,7,Personal Auto,Personal L3,Offer1,Agent,292.80,Four-Door Car,Medsize,A,2
6,6,IW72280,California,5035.04,No,Basic,Doctor,2011-02-14,Employed,F,37405,Urban,Married,63,8.00,99,3.00,4,Corporate Auto,Corporate L2,Offer2,Branch,287.56,Four-Door Car,Medsize,A,2
7,7,IH64929,California,4956.25,No,Basic,High School or Below,2011-02-24,Employed,M,87197,Urban,Single,63,35.00,45,0.00,3,Personal Auto,Personal L2,Offer2,Branch,247.40,Two-Door Car,Medsize,A,2
8,8,FM55990,California,5989.77,Yes,Premium,College,2011-01-19,Employed,M,66839,Suburban,Single,154,33.00,24,0.00,1,Personal Auto,Personal L1,Offer2,Branch,739.20,Sports Car,Medsize,A,1
9,9,QX31376,Oregon,17114.33,No,Extended,Master,2011-01-04,Employed,F,70961,Suburban,Married,85,19.00,8,0.00,2,Corporate Auto,Corporate L3,Offer2,Agent,408.00,Four-Door Car,Small,A,1
10,10,HG93801,Arizona,5154.76,No,Extended,High School or Below,2011-01-02,Employed,M,82730,Urban,Married,127,13.00,31,0.00,1,Corporate Auto,Corporate L3,Offer2,Branch,442.52,SUV,Large,A,1
11,11,GE63585,California,2420.71,No,Basic,Bachelor,2011-02-07,Employed,M,31710,Urban,Divorced,62,5.00,29,0.00,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.55,Two-Door Car,Medsize,A,2
12,12,EO51920,Oregon,19955.26,No,Extended,High School or Below,2011-01-31,Employed,F,69096,Rural,Married,99,24.00,32,0.00,2,Corporate Auto,Corporate L3,Offer1,Agent,64.67,Four-Door Car,Medsize,A,1
13,13,KR82385,California,5454.59,No,Basic,Master,2011-01-26,Employed,M,66334,Suburban,Single,69,25.00,25,0.00,4,Personal Auto,Personal L3,Offer4,Call Center,331.20,Two-Door Car,Medsize,A,1
14,14,TL59568,Arizona,12836.01,No,Premium,High School or Below,2011-02-28,Unemployed,M,0,Suburban,Married,116,6.00,28,0.00,2,Personal Auto,Personal L2,Offer3,Agent,835.20,Two-Door Car,Medsize,A,2
15,15,CW49887,California,4626.80,Yes,Basic,Master,2011-01-16,Employed,F,79487,Suburban,Divorced,114,20.00,87,0.00,1,Special Auto,Special L1,Offer2,Branch,547.20,SUV,Medsize,A,1
16,16,FH51383,California,5326.68,No,Basic,High School or Below,2011-02-07,Employed,F,76717,Urban,Married,66,26.00,10,0.00,6,Personal Auto,Personal L3,Offer4,Call Center,300.53,Two-Door Car,Large,A,2
17,17,TR26615,Oregon,2497.53,No,Basic,High School or Below,2011-01-17,Unemployed,M,0,Urban,Married,69,5.00,74,0.00,1,Corporate Auto,Corporate L2,Offer2,Branch,272.38,Two-Door Car,Medsize,A,1
18,18,ZC97968,California,2736.35,No,Basic,College,2011-02-14,Disabled,M,17533,Suburban,Married,73,10.00,1,0.00,1,Personal Auto,Personal L3,Offer1,Agent,350.40,Two-Door Car,Medsize,A,2
19,19,NJ54277,California,3746.75,Yes,Extended,College,2011-02-26,Employed,F,41479,Rural,Married,94,14.00,38,1.00,1,Personal Auto,Personal L2,Offer2,Call Center,19.58,Two-Door Car,Large,A,2

In [248]:
ci_marketing.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [250]:
ci_marketing.duplicated().sum()

0

In [246]:
ci_marketing.tail(20)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
10890,10890,VQ78876,Oregon,4660.40,No,Basic,Bachelor,2011-02-03,Employed,F,89834,Rural,Married,116,24.00,11,0.00,1,Corporate Auto,Corporate L3,Offer1,Branch,43.16,Four-Door Car,Medsize,A,2
10891,10891,UV43859,Oregon,8840.19,No,Basic,High School or Below,2011-01-22,Employed,F,47297,Suburban,Married,115,10.00,46,4.00,4,Personal Auto,Personal L3,Offer2,Web,796.13,SUV,Medsize,A,1
10892,10892,BC87551,California,32306.29,No,Basic,High School or Below,2011-01-28,Employed,F,36301,Suburban,Single,118,11.00,85,0.00,2,Corporate Auto,Corporate L3,Offer1,Branch,647.95,SUV,Medsize,A,1
10893,10893,CG69038,Washington,4817.99,No,Basic,College,2011-02-26,Employed,M,38157,Rural,Married,61,2.00,39,0.00,4,Personal Auto,Personal L3,Offer3,Branch,81.53,Two-Door Car,Medsize,A,2
10894,10894,EX63393,California,6314.49,No,Extended,Master,2011-02-27,Employed,F,66947,Suburban,Married,78,13.00,12,0.00,6,Personal Auto,Personal L1,Offer3,Agent,374.40,Four-Door Car,Small,A,2
10895,10895,EG40670,California,6232.69,No,Extended,Bachelor,2011-01-08,Disabled,F,28334,Suburban,Single,83,3.00,44,0.00,7,Special Auto,Special L3,Offer1,Agent,537.77,Four-Door Car,Medsize,A,1
10896,10896,HT87217,Oregon,19776.57,No,Extended,High School or Below,2011-01-16,Employed,F,70699,Urban,Divorced,82,1.00,57,0.00,2,Personal Auto,Personal L2,Offer3,Agent,256.81,Four-Door Car,Medsize,A,1
10897,10897,MM70762,Arizona,9075.77,Yes,Basic,Master,2011-01-26,Employed,M,37722,Rural,Single,116,8.00,23,0.00,8,Personal Auto,Personal L1,Offer1,Agent,158.08,Sports Car,Medsize,A,1
10898,10898,SO95845,California,5807.66,No,Basic,College,2011-01-07,Employed,F,62447,Rural,Single,74,9.00,2,0.00,7,Personal Auto,Personal L3,Offer4,Call Center,133.98,Two-Door Car,Medsize,A,1
10899,10899,WU60905,California,8610.67,No,Basic,High School or Below,2011-02-06,Unemployed,F,0,Suburban,Married,111,27.00,36,0.00,9,Corporate Auto,Corporate L1,Offer3,Web,532.80,SUV,Medsize,A,2
10900,10900,VN73653,Oregon,6423.74,No,Basic,College,2011-02-13,Unemployed,M,0,Suburban,Single,188,5.00,67,0.00,1,Corporate Auto,Corporate L2,Offer3,Agent,1621.56,Luxury SUV,Medsize,A,2
10901,10901,RY92254,Washington,4547.89,No,Premium,Bachelor,2011-01-13,Employed,M,33531,Suburban,Married,116,11.00,15,0.00,1,Personal Auto,Personal L3,Offer4,Agent,801.58,Two-Door Car,Medsize,A,1
10902,10902,PP30874,California,3579.02,No,Extended,High School or Below,2011-01-24,Employed,F,28304,Suburban,Married,91,10.00,30,2.00,1,Personal Auto,Personal L2,Offer2,Agent,655.20,Four-Door Car,Medsize,A,1
10903,10903,SU71163,Arizona,2771.66,No,Basic,College,2011-01-07,Employed,M,59855,Suburban,Married,74,30.00,82,4.00,1,Personal Auto,Personal L2,Offer2,Branch,355.20,Two-Door Car,Medsize,A,1
10904,10904,QI63521,Nevada,19228.46,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,Suburban,Single,187,14.00,32,0.00,2,Personal Auto,Personal L2,Offer1,Branch,897.60,Luxury SUV,Medsize,A,2
10905,10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,Suburban,Married,253,15.15,40,0.38,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.44,No,Basic,College,2011-01-06,Employed,F,61146,Urban,Married,65,7.00,68,0.00,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2011-02-06,Employed,F,39837,Rural,Married,201,11.00,63,0.00,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.98,No,Premium,College,2011-02-13,Employed,F,64195,Urban,Divorced,158,0.00,27,4.00,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.52,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,Suburban,Single,101,31.00,1,0.00,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,A,1

In [242]:
ci_marketing.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [252]:
ci_clean = ci_marketing.drop(columns="unnamed:_0")

In [256]:
ci_clean.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [258]:
ci_clean.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.22,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.00,52,0.00,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.53,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.00,26,0.00,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.00,31,0.00,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A,2
3,XL78013,Oregon,22332.44,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.00,3,0.00,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.07,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.15,31,0.38,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,A,1

In [260]:
ci_clean["total_revenue"] = ci_clean["monthly_premium_auto"]*ci_clean["months_since_policy_inception"]

In [262]:
ci_clean

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month,total_revenue
0,DK49336,Arizona,4809.22,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.00,52,0.00,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,A,2,3172
1,KX64629,California,2228.53,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.00,26,0.00,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,A,1,1664
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.00,31,0.00,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A,2,3100
3,XL78013,Oregon,22332.44,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.00,3,0.00,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A,1,291
4,QA50777,Oregon,9025.07,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.15,31,0.38,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,A,1,3627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,Suburban,Married,253,15.15,40,0.38,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A,1,10120
10906,KX53892,Oregon,5259.44,No,Basic,College,2011-01-06,Employed,F,61146,Urban,Married,65,7.00,68,0.00,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A,1,4420
10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2011-02-06,Employed,F,39837,Rural,Married,201,11.00,63,0.00,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,A,2,12663
10908,WA60547,California,11971.98,No,Premium,College,2011-02-13,Employed,F,64195,Urban,Divorced,158,0.00,27,4.00,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A,2,4266
10909,IV32877,California,6857.52,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,Suburban,Single,101,31.00,1,0.00,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,A,1,101

In [264]:
pivot_rev = ci_clean.pivot_table(
    values='total_revenue',
    index='sales_channel',
    aggfunc='sum'
)

In [268]:
pivot_rev = pivot_table.round(2)
pivot_rev

               total_revenue
sales_channel
Agent               18534081
Branch              13711669
Call Center          9376066
Web                  7475544

In [ ]:
#from the data it is clear that the Agent channel brought in the most revenue

In [282]:
pivot_clv = ci_clean.pivot_table(
    values='customer_lifetime_value',
    index='gender',
    columns='education',
    aggfunc='mean'
)

In [286]:
new_order_clv = ["High School or Below","College","Bachelor","Master","Doctor"]
pivot_clv = pivot_clv[new_order_clv]

In [288]:
pivot_clv

education  High School or Below  College  Bachelor  Master  Doctor
gender
F                       8675.22  7748.82   7874.27 8157.05 7328.51
M                       8149.69  8052.46   7703.60 8168.83 7415.33

In [290]:
pivot_clv2 = ci_clean.pivot_table(
    values='customer_lifetime_value',
    index='education',
    columns='gender',
    aggfunc='mean'
)

In [294]:
ci_clean["customer_lifetime_value"].describe()

count   10910.00
mean     8018.24
std      6885.08
min      1898.01
25%      4014.45
50%      5771.15
75%      8992.78
max     83325.38
Name: customer_lifetime_value, dtype: float64

In [ ]:
#surprisingly, people with a high-school-or-below education have the highest calculated customer lifetime value, women even moreso than men.
#and doctors have the lowest. The difference between genders is smaller with a higher education level.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here